In [87]:
import pandas as pd 
df = pd.read_csv("/Users/sot/Documents/Laptopprice/Laptop_Data/laptop.csv")

In [88]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [89]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [90]:
df.head()

,laptop,status,brand,model,cpu,ram,storage,storage_type,gpu,screen,touch,final_price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [91]:
df['laptop'].value_counts()

laptop
ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core i5-1235U/8GB/512GB SSD/15.6"               1
HP EliteBook 640 G9 Intel Core i5-1235U/8GB/512GB SSD/14"                                 1
HP Pavilion x360 14-ek0018ns Intel Core  i5-1235U/8GB/512GB SSD/14" Táctil                1
HP Pavilion 15-EH1001NS AMD Ryzen 5 5500U/16GB/512GB SSD/15.6"                            1
HP Pavilion 14-dv1009ns Intel Core i5-1155G7/16GB/512GB SSD/14"                           1
                                                                                         ..
Microsoft Surface Pro 9 Platino Intel Evo Core i7-1255U/16GB/1TB SSD/13" Táctil           1
HP 15S-FQ5044NS Intel Core i7-1255U/8GB/512GB SSD/15.6"                                   1
Denver Electronics NBD-14105SSDES Intel Celeron N4020/4GB/64GB+256GB SSD/14"              1
ASUS TUF Gaming F15 TUF507ZC4-HN040 Intel Core i7-12700H/16GB/512GB SSD/RTX 3050/15.6"    1
Razer Book FHD+ Intel Evo Core i7-1165G7/16GB/256GB SSD/13.4" Táctil                      1
Name: count, Length: 2160, dtype: int64

In [92]:
df['brand'].value_counts()

brand
Asus                415
HP                  368
Lenovo              366
MSI                 308
Acer                137
Apple               116
Dell                 84
Microsoft            77
Gigabyte             48
Razer                37
Medion               32
LG                   32
Alurin               29
PcCom                24
Samsung              22
Dynabook Toshiba     19
Vant                 11
Primux                8
Deep Gaming           8
Innjoo                6
Thomson               4
Prixton               3
Millenium             2
Denver                1
Jetwing               1
Realme                1
Toshiba               1
Name: count, dtype: int64

In [93]:
df['status'].value_counts()

status
New            1498
Refurbished     662
Name: count, dtype: int64

In [94]:
df['model'].value_counts()

model
15S            115
IdeaPad        104
ROG            101
ThinkPad        99
VivoBook        99
              ...
100w             1
Electronics      1
Cyborg           1
14S              1
GL75             1
Name: count, Length: 121, dtype: int64

In [95]:
df['cpu'].value_counts()

cpu
Intel Core i7            710
Intel Core i5            535
AMD Ryzen 7              156
Intel Core i3            130
AMD Ryzen 5              127
Intel Core i9             94
Intel Celeron             94
Intel Evo Core i7         82
AMD Ryzen 9               44
AMD Ryzen 3               44
Intel Evo Core i5         30
Apple M2                  28
AMD 3020e                 13
Apple M2 Pro              13
Apple M1                  11
AMD Athlon                10
Intel Pentium             10
Apple M1 Pro               7
Intel Core M3              5
AMD 3015e                  3
Microsoft SQ1              3
Qualcomm Snapdragon 7      3
AMD Radeon 9               2
Qualcomm Snapdragon 8      2
Intel Evo Core i9          1
Mediatek MT8183            1
AMD 3015Ce                 1
AMD Radeon 5               1
Name: count, dtype: int64

In [96]:
df['ram'].value_counts()

ram
16     928
8      817
32     301
4       68
64      25
12      15
6        3
40       2
128      1
Name: count, dtype: int64

In [97]:
df['storage_type'].value_counts()

storage_type
SSD     2062
eMMC      56
Name: count, dtype: int64

In [98]:
df['gpu'].value_counts()

gpu
RTX 3050              129
RTX 3060              122
RTX 3070               97
RTX 4060               62
RTX 3080               51
GTX 1650               50
RTX 4070               40
RTX 4050               33
RTX 2070               25
RTX 2060               20
RTX 4080               18
RTX 4090               17
GTX 1660               14
RTX 2050               11
Radeon Pro 5500M        9
RTX A2000               8
RTX 2080                7
MX 450                  7
RTX A3000               7
RTX A1000               6
T 1200                  6
MX 550                  5
MX 330                  5
T 500                   5
T 550                   4
GTX 1050                3
Radeon Pro RX 560X      3
RTX A5500               3
RX 6500M                3
RX 7600S                2
T 600                   2
Radeon Pro 5300M        2
610 M                   2
RX 6700M                1
P 500                   1
MX 130                  1
A 370M                  1
RX 6800S                1
T 2000                  1
RTX 3000                1
A 730M                  1
Radeon RX 6600M         1
T 1000                  1
GTX 1070                1
Name: count, dtype: int64

In [99]:
df.isna().sum()

laptop             0
status             0
brand              0
model              0
cpu                0
ram                0
storage            0
storage_type      42
gpu             1371
screen             4
touch              0
final_price        0
dtype: int64